{% block meta %}
<title>Login</title>
{% endblock meta %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

{% block content %}

<body>
    <div class="text-center">
        <h1 class="text-success ">Login</h1>
    </div>
    

    <form method="POST" action="">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-auto">
            <table>
                <tr>
                    <td><b>Username:</b> </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                <tr>
                    <td><b>Password: </b></td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
            </table>
            <td><input class="btn btn-success btn-lg btn-block" type="submit" value="Login"></td>
            </div>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    <div class="row justify-content-center">
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    </div>

</body>
{% endblock content %}