<!DOCTYPE html>
<html>
    {% block meta %}
    <title>Registrasi Akun</title>
    {% endblock meta %}

    {% block content %} 
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>

<body> 
    <div class="text-center">
        <h2 class="text-success">Formulir Registrasi</h2>  
    </div>
        <form method="POST" >  
                {% csrf_token %}  
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table>  
                        {{ form.as_table }}  
                    </table>  
                    <td><input class="btn btn-success btn-lg btn-block" type="submit" value="Daftar"></td>
                </div>
            </div>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}



    {% endblock content %}
</body>

</html>