<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="text-center">
        <h1 class="text-success"><strong> Tugas 5 Assignment PBP/PBD</strong></h1>
        {% if user.is_authenticated %}
            <h2 class="text-secondary">Halo, <mark>{{ user.get_username }}</mark>. Kamu sudah log in nih!</h2>
        {% endif %}
        <div class="container-fluid bg-success">
            <h3 class="text-light">Laman ini dibuat oleh:</h3>
            <h5 class="text-light">Name: {{nama}}</h5>
            <h5 class="text-light">Student ID: {{npm}}</h5>
        </div>
    </div>
    
    {% comment %} Add the data below this line {% endcomment %}
    <div class="row">
        {% for task in list_task %}
        <div class="col mt-2 ml-2 mb-2 mr-2">
            <div class="card text-white bg-dark" style="width: 18rem;">
                <div class="container">
                    <div class="text-center bg-success">
                        <h5 class="namaUser"><b>{{task.user}}</b></h4>
                        <h7 class="tanggal">{{task.date}}</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="judul"><b>{{task.title}}</b></h5>
                        <p class="description">{{task.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </body>

    <button type="button" class="btn btn-success btn-lg btn-block "><a href="{% url 'todolist:create-task' %}"><b>Add Task</b></a></button>
    <button type="button" class="btn btn-warning btn-lg btn-block"><a href="{% url 'todolist:logout' %}"><b>Logout</b></a></button>

</body>
</html>